<div class="alert alert-block alert-success">
    <h1 align="center">Scikit-Learn Tips</h1>
    <h3 align="center">Tip 06: Selecting Columns</h3>
</div>

There are SEVEN ways to select columns using ColumnTransformer:

1. column name
2. integer position
3. slice
4. boolean mask
5. regex pattern
6. dtypes to include
7. dtypes to exclude

See example ðŸ‘‡

In [2]:
import pandas as pd
df = pd.read_csv('data.csv')

In [3]:
cols = ['fare', 'embarked', 'sex', 'age']
X = df[cols]

In [4]:
X

          fare embarked     sex    age
0     211.3375        S  female  29.00
1     151.5500        S    male   0.92
2     151.5500        S  female   2.00
3     151.5500        S    male  30.00
4     151.5500        S  female  25.00
...        ...      ...     ...    ...
1304   14.4542        C  female  14.50
1305   14.4542        C  female    NaN
1306    7.2250        C    male  26.50
1307    7.2250        C    male  27.00
1308    7.8750        S    male  29.00

[1309 rows x 4 columns]

In [9]:
X.dropna(subset = ['embarked'] , inplace = True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer  
from sklearn.compose import make_column_selector

In [11]:
ohe = OneHotEncoder()

In [12]:
ct = make_column_transformer((ohe, ['embarked', 'sex']))
ct = make_column_transformer((ohe, [1, 2]))
ct = make_column_transformer((ohe, slice(1, 3)))
ct = make_column_transformer((ohe, [False, True, True, False]))
ct = make_column_transformer((ohe, make_column_selector(pattern='E|S')))
ct = make_column_transformer((ohe, make_column_selector(dtype_include=object)))
ct = make_column_transformer((ohe, make_column_selector(dtype_exclude='number')))

In [13]:
ct.fit_transform(X)

array([[0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 0., 1., 1., 0.],
       ...,
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [0., 0., 1., 0., 1.]])