<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 20</h1>
    <h3 align="center">Diff in Pandas</h3>
</div>

### Importing the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__

'1.1.5'

### Generate Random Data

In [4]:
def generate_sample_data(): # creates a fake df for testing
    number_or_rows = 25
    num_cols = 6
    cols = list("ABCDEF")
    df = pd.DataFrame(np.random.randint(1, 25, size = (number_or_rows, num_cols)), columns=cols)
    df.index = pd.util.testing.makeIntIndex(number_or_rows)
    return df

In [5]:
df = generate_sample_data()
df

     A   B   C   D   E   F
0   14   4   7  21  24  24
1   18  14   4   9  19   1
2   17  20  15   7  11   2
3   23  21  16  19   4  19
4    9  18   3   6  17  14
5   20   8  20  21  24  13
6   24   7  15  14  10  11
7    3   1  21  18  11   3
8   10   3  10  18   9   6
9   16   8  20   8  23   4
10   9  14   4  14  20  12
11  22  14   7   5  20  16
12   1   7   8   4   8  24
13  18  24  24  14  23   6
14   2  18   5  22  12  17
15   5  11  12   2  16  11
16  20   5  20  15   4   7
17   8   3  15   2  20  20
18  22  10  10  20  23  23
19  12  24  10  19   8  20
20   8  10   7   4  10  19
21  13   3   6  12  15  17
22   5  17   5  23  15   7
23  20  14  17   6  12  24
24   4  16   1   2   8   7

In [6]:
df["A_diff"] = df["A"].diff() # calculate the difference between 2 rows
df

     A   B   C   D   E   F  A_diff
0   14   4   7  21  24  24     NaN
1   18  14   4   9  19   1     4.0
2   17  20  15   7  11   2    -1.0
3   23  21  16  19   4  19     6.0
4    9  18   3   6  17  14   -14.0
5   20   8  20  21  24  13    11.0
6   24   7  15  14  10  11     4.0
7    3   1  21  18  11   3   -21.0
8   10   3  10  18   9   6     7.0
9   16   8  20   8  23   4     6.0
10   9  14   4  14  20  12    -7.0
11  22  14   7   5  20  16    13.0
12   1   7   8   4   8  24   -21.0
13  18  24  24  14  23   6    17.0
14   2  18   5  22  12  17   -16.0
15   5  11  12   2  16  11     3.0
16  20   5  20  15   4   7    15.0
17   8   3  15   2  20  20   -12.0
18  22  10  10  20  23  23    14.0
19  12  24  10  19   8  20   -10.0
20   8  10   7   4  10  19    -4.0
21  13   3   6  12  15  17     5.0
22   5  17   5  23  15   7    -8.0
23  20  14  17   6  12  24    15.0
24   4  16   1   2   8   7   -16.0

In [7]:
 # calculates the porcentual variation between 2 rows
df["A_Diff_Percent"] = df["A"].pct_change()*100
df

     A   B   C   D   E   F  A_diff  A_Diff_Percent
0   14   4   7  21  24  24     NaN             NaN
1   18  14   4   9  19   1     4.0       28.571429
2   17  20  15   7  11   2    -1.0       -5.555556
3   23  21  16  19   4  19     6.0       35.294118
4    9  18   3   6  17  14   -14.0      -60.869565
5   20   8  20  21  24  13    11.0      122.222222
6   24   7  15  14  10  11     4.0       20.000000
7    3   1  21  18  11   3   -21.0      -87.500000
8   10   3  10  18   9   6     7.0      233.333333
9   16   8  20   8  23   4     6.0       60.000000
10   9  14   4  14  20  12    -7.0      -43.750000
11  22  14   7   5  20  16    13.0      144.444444
12   1   7   8   4   8  24   -21.0      -95.454545
13  18  24  24  14  23   6    17.0     1700.000000
14   2  18   5  22  12  17   -16.0      -88.888889
15   5  11  12   2  16  11     3.0      150.000000
16  20   5  20  15   4   7    15.0      300.000000
17   8   3  15   2  20  20   -12.0      -60.000000
18  22  10  10  20  23  23    14.0      175.000000
19  12  24  10  19   8  20   -10.0      -45.454545
20   8  10   7   4  10  19    -4.0      -33.333333
21  13   3   6  12  15  17     5.0       62.500000
22   5  17   5  23  15   7    -8.0      -61.538462
23  20  14  17   6  12  24    15.0      300.000000
24   4  16   1   2   8   7   -16.0      -80.000000