<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 21</h1>
    <h3 align="center">Keep Track of Where data is coming</h3>
</div>

### Importing the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
pd.__version__

'1.1.5'

## Make Dataframe

In [4]:
def generate_sample_data(): # creates a fake df for testing
    number_rows = 25
    num_cols = 6
    cols = list("ABCDEF")
    df = pd.DataFrame(np.random.randint(1, 25, size = (number_rows, num_cols)), columns=cols)
    df.index = pd.util.testing.makeIntIndex(number_rows)
    return df

In [5]:
# let's generate some fake data
df1 = generate_sample_data()
df2 = generate_sample_data()
df3 = generate_sample_data()

In [6]:
df1.head()
# df2.head()
# df3.head()

    A   B   C   D   E   F
0  11  24   2  22   3  17
1  22   4  23  14  15  13
2  24  19   6  12   8  11
3   4  14   2  21  14  15
4   1   7   1   2   4  14

In [7]:
df1.to_csv("trick21_1.csv")
df2.to_csv("trick21_2.csv")
df3.to_csv("trick21_3.csv")

In [8]:
pwd

'/home/jovyan/Untitled Folder 4/jjj/pandas tricks'

In [11]:

# Step 1 generate list with the file name
lf = []
for _,_, files in os.walk("/home/jovyan/Untitled Folder 4/jjj/pandas tricks"):
    for f in files:
        if "trick21" in f:
            lf.append(f)
            
lf

['trick21_2.csv', 'trick21_3.csv', 'trick21_1.csv']

In [12]:
df = pd.concat((pd.read_csv(file).assign(filename = file) for file in lf), ignore_index = True)
df.sample(10)

    Unnamed: 0   A   B   C   D   E   F       filename
38          13  21   2   4  12   8  24  trick21_3.csv
65          15  17  21  12   6  15  11  trick21_1.csv
61          11  20  11  13  14   2  24  trick21_1.csv
24          24   8   9   9   4  10  13  trick21_2.csv
12          12  22   3   6   9  21  15  trick21_2.csv
52           2  24  19   6  12   8  11  trick21_1.csv
0            0  23   3  22   6   4   6  trick21_2.csv
68          18  22   9  23  12  10  13  trick21_1.csv
67          17   6   6   6  14   3   4  trick21_1.csv
59           9   6   5  11  20   8   7  trick21_1.csv