<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 07</h1>
    <h3 align="center">Rename Columns</h3>
</div>

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

## Make Dataframe

In [3]:
pd.DataFrame(np.random.rand(5, 10))

,0,1,2,3,4,5,6,7,8,9
0,0.246409,0.491590,0.897493,0.006099,0.636410,0.948887,0.260757,0.362509,0.238906,0.778313
1,0.617439,0.596003,0.568477,0.671517,0.418229,0.955649,0.045281,0.298393,0.739543,0.597629
2,0.722819,0.797013,0.033984,0.174656,0.915142,0.785848,0.284049,0.574024,0.786316,0.173102
3,0.793136,0.379316,0.967114,0.876179,0.406175,0.539040,0.675282,0.524803,0.823294,0.033542
4,0.638038,0.131070,0.873425,0.844881,0.416961,0.349289,0.576562,0.690928,0.454610,0.633922

In [13]:
pd.DataFrame(np.random.rand(5, 10), columns=list('ABCDEFGHJK'))

,A,B,C,D,E,F,G,H,J,K
0,0.901083,0.236083,0.896900,0.959586,0.069706,0.490971,0.680891,0.214639,0.922247,0.329225
1,0.276803,0.694844,0.903823,0.692744,0.473672,0.476792,0.794954,0.368520,0.484120,0.841106
2,0.470806,0.339576,0.375019,0.626206,0.945463,0.089236,0.143201,0.877783,0.426820,0.871186
3,0.801931,0.797136,0.452879,0.208994,0.724735,0.324751,0.867328,0.955834,0.565439,0.781699
4,0.726177,0.187684,0.572226,0.900496,0.253005,0.979446,0.637759,0.125963,0.908421,0.525204

## Another Solution

In [5]:
df = pd.DataFrame({'column one':[10, 20], 'column two':[30, 40]})
df

   column one  column two
0          10          30
1          20          40

In [6]:
df = df.rename({'column one':'column_one', 'column two':'column_two'}, axis='columns')
df.head()

   column_one  column_two
0          10          30
1          20          40

In [14]:
df.columns

Index(['col one', 'col two'], dtype='object')

In [7]:
df.columns = ['col_one', 'col_two']

In [8]:
df.columns = df.columns.str.replace('_', ' ')

In [9]:
df

   col one  col two
0       10       30
1       20       40

In [10]:
df.add_prefix('X_')

   X_col one  X_col two
0         10         30
1         20         40

In [11]:
df.add_suffix('_Y')

   col one_Y  col two_Y
0         10         30
1         20         40